.TechItemStyle {
  display: flex;
  align-items: center;
  margin: 5px;
  color: var(--text-color2);
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
  padding: 5px;
  gap: 0.5rem;
}

.modalStyles {
  height: auto;
  width: 80%;
  margin: auto;
  padding: 0 1rem;
  border-radius: 12px;
  border: 1px solid var(--text-color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color2);
  z-index: 100;
  color: var(--text-color2);
  position: relative;
}

.textDetailsStyle {
  width: 40%;
  font-family: "poppins";
  overflow: auto;
  color: var(--text-color);
}

.projNameStyle {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--text-color2);
  font-weight: bold;
}

.closeButton {
  width: 100%;
  text-align: end;
  margin: 0.5rem 0;
}

.detailsStyle {
  width: 100%;
  height: 90%;
  border-top: solid thin;
  border-bottom: solid thin;
  display: flex;
}

.smallTitle {
  color: var(--text-color2);
  font-weight: bold;
}

.techsStyle {
  display: flex;
  flex-wrap: wrap;
}

.imageDetailsStyle {
  width: 70%;
  height: 100%;
}

.linksStyle {
  font-family: "NerdFont", Sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  gap: 2rem;
}

.iconLink {
  cursor: pointer;
  border: 1px solid var(--text-color2);
  border-radius: 12px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.iconLink::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 4px;
  font-size: 0.875rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.iconLink::before {
  content: "";
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  border: 8px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.iconLink:hover::after,
.iconLink:hover::before {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1253px) {
  .detailsStyle {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .textDetailsStyle {
    width: 100%;
  }
  .imageDetailsStyle {
    width: 100%;
  }
}
