.footer{
    width: 80%;
    margin: 2rem auto 2rem auto;
    border-radius: 12px;
    max-height: 12rem;
    border: 1px solid var(--border-color);
    border-bottom:none ;
    border-right: none;
    border-left: none;
    position:relative;
    top:-20px;
    display: flex;
    flex-direction: column;
    color:#BABABA ;
}

.title{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 2rem auto 2rem;
    font-family: "Poppins";
}
.title a{
    text-decoration: none;
    color: var(--text-color);
}
.title *:hover{
    color: var(--hover-color);
}
.phrase{
    text-align: center;    
    margin: 0.75rem auto 0.75rem auto;
    font-family: "NerdFont", Sans-serif;
    height: 5rem;
}
    
.phrase a{
    text-decoration: none;
    color: var(--text-color);
    font-size: small;
}
.phrase :hover{
    color: var(--hover-color);
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin: 1rem auto 0 auto;
}
.icons a *{
    border-style: solid;
    padding: 6px;
    border-radius: 50%;
    border-width: thin;
    cursor: pointer;
    color: var(--text-color);   

}
.icons *:hover{
    color: var(--hover-color);
}

@media screen and  (max-width:1253px) {

.title{
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.phrase{
    text-align: center;
    width: 100%;
}
.footer{
    max-height: fit-content;
}
        
    }